/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#btnEntrar {
	/*-fx-background-color: red ;*/
	
}

#fundo {
	-fx-background-color: green;
}

#fundoSegundaTela {
	-fx-background-color: green;
}

#lblBeta, #menuBar {
	-fx-background-color: lightgray  ;
}


/* ================================== Menu Sobre ====================================*/
/* DESENVOLVEDOR */

#paneContato {
	-fx-background-color: gray ;
} 
